<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Toilet, Water & Relax</title>
  <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
  <header>
    Toilet, Water & Relax <span class="highlight">*</span>
  </header>

<div class="map"></div> <div class="buttons"> <button class="button">добавить точку</button> <button class="button">туалеты рядом</button> <button class="button">форум</button> <button class="button">фильтр по категориям</button> </div> </body> </html> 